<H1>Welcome to the Anonymous Writers Club!</H1>

    <div id="posts">
        <% @posts.each do |post| %>
            <div id="title">
                <h3><%= post.title %><br></h3>
                <% if post.image_url.present?%>
                    <div id=image> 
                        <img src='<%= post.image_url %>'  width="400"> 
                    </div>
                    <% end %>
                <p id="body">
                    <%= post.body %><br>
                </p>
                <% if member_signed_in? %>
                <% author = Member.find(post.member_id) %>
                    <div>
                        <% if author.profile_pic.present?%>
                            <img src=' <%= author.profile_pic %>' width='30'>
                        <% end %>
                        Written by <%= author.name %>
                    </div>
                <% else %>
                    <div>
                        Written by Anoynmous
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div>
        <% if member_signed_in? %>
            <div>
                <%= button_to "Sign Out", destroy_member_session_path, method: :delete  %>
            </div>
        <% end %>
    </div>

