<H1>
    Submit an anonymous post!
</H1>

<%= form_with model: @post do |form| %>
    <%= form.label "Title" %><br>
    <%= form.text_field :title, value: 'Your Post Title Here' %><br>
    <%= form.label "Post Body:" %><br>
    <%= form.textarea :body, size: "70x5", value: 'Write your post here' %><br>
    <%= form.label "Image URL" %>
    <%= form.text_field :image_url %><br>
    <%= form.submit value:"Submit" %>
<% end %>